@import 'base';
@import "compass/css3/transform";

/* =============================================================================
   Typography
   ========================================================================== */

body {
    line-height: 28px;
    font-size: 16px;
    color: $text;
}

html,
button,
input,
select,
textarea {
    font-family: $base-font-family;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 72px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  line-height: 48px; 
}

h3 {
  font-size: 26px;
  line-height: 36px; 
}

a {
    color: $brandOrange;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

p,
pre {
    margin: 0 0 28px 0;
}


/* =============================================================================
   Scaffolding
   ========================================================================== */

.wrapper {
  margin: 168px 72px;
  width: 768px;
  overflow: auto;
}



.content {
  width: 640px;
}

.global-header {
  width: auto; 
  overflow: hidden;
}

.brand-logo-container {
  width: 40px;
  height: 40px;
  background-color: $brandOrange;
  position: relative;
  margin-left: 80px;
  margin-right: 180px;
  margin-bottom: 120px;
  float:left;
  h1 {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    @include rotate(45deg);
  }
}

.global-nav {
  //margin-left: 192px;
  margin-right: 72px;
  display: block;
  float:right;
  width: auto;
  li {
    float: left;
    display: block;
    //padding-top: 3px;
    //margin-right: 10px;
  }
  a {
    text-decoration: none;
    display: block;
    color: #eee;
    padding: 3px 12px 0 12px;
    position: relative;
    width: 72px;
    text-align: center;
    height: 25px;


    &:hover {
      background-color: #eee;
      color: #333;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: 23px;
        left: 44px;
        background-color: #eee;
        @include rotate(45deg);
      }
    }
  }
}

.article-date {
  font-size: 16px;
  color:#666;
}


.mast {
  background-color: #333;
  font-size: 14px;
  //font-style: italic;
  color: #EEE;
  padding-left: 72px;
  height:28px;
  position: fixed;
  width: 100%;
  top:0px;
  z-index: 100;
  padding-right: 72px;
}


.logo-outer {
  width: 26px;
  height: 26px;
  //width: 18px;
  //height: 18px;
  background-color: $brandOrange;
  position: absolute;
  @include rotate(45deg);
  top:15px;
  //top: 19px;
  left: 60px;
  //left: 254px;

}

.logo-inner {
    display: none;
    text-indent: -9999px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 12px;    
}

.main-content {
  width: 528px;
  position: relative;
  margin-right: 48px;
  float: right;
}

.meta {
  float: left;
  width: 192px;
}

.article-header {
  //margin-bottom: 72px;
  margin-left: 192px;
  //position: relative;
  //left: 24px;
  h1 {
    letter-spacing: -1.5px;
  }
}

.lead-in {
  color:#666;
  font-size: 22px;
  line-height: 36px;
}


.index-post {
  margin-bottom: 48px;
  padding-bottom: 48px;
  overflow: auto;
  border-bottom: 2px dotted #eee;

  .article-header {
    margin-left: 0;
  }
  .article-header h1 {
    //font-size: 36px;
    //line-height: 48px;
    margin-bottom: 24px;
    letter-spacing: normal;
    a {
      text-decoration: none;
    }
  }

  .main-content {
    float: left;
  }
  .lead-in {
    //font-size: 16px;
    //line-height: 28px;
  }
  .article-date {
    font-size: 14px;
  }
}

