<h1><%= @path.capitalize %> Will</h1>

<p>I'm a Web Designer based in Belfast, working for Rumble Labs. I recently graduated from University of Ulster with a First Class Honours Degree in Interactive Multimedia Design.</p>

<p>On the side I've been known to swing a sword around with Medieval Combat Group, an Historical European Martial Arts Group and take part in long distance running.</p>