<article class="post">



  <section class="content">
    <header>
      <h1><%= title %></h1>
    </header>
    <%= body %>
  </section>
  
  <footer class="meta">
    <span class="article-date"><%= date %></span>
  </div>
  





</article>

