<% for article in articles[0...1] %>
<article class="index-post">
  <header class="article-header">
    <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
  </header>
  <section class="main-content">
    <p class="lead-in"><%= article.mysummary %></p>
    <a href="<%= article.path %>" class="read-more">Read More &raquo;</a>
  </section>
</article>
<% end %>




<section id="archives">
  <h2>Recent Posts</h2>
  <ul class="recent-posts">   
    <% for article in articles[1..-1] %>
    <li>
      <a class="post-link" href="<%= article.path %>">
        <date class="post-date"><%= Time.strptime(article.date, "%d %B %Y").strftime("%d %b") %></date>
        <%= article.title %>
      </a> 
    </li>
    <% end %>
  </ul>
</section>

