/* =============================================================================
   Typography
   ========================================================================== */
/* line 8, ../../sass/main.scss */
body {
  line-height: 28px;
  font-size: 16px;
  color: #333333;
}

/* line 18, ../../sass/main.scss */
html,
button,
input,
select,
textarea {
  font-family: "adelle", serif;
  font-weight: 400;
}

/* line 23, ../../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 28, ../../sass/main.scss */
h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 48px;
  font-weight: 400;
}

/* line 35, ../../sass/main.scss */
h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 12px;
}

/* line 41, ../../sass/main.scss */
h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 46, ../../sass/main.scss */
a {
  color: #e24718;
}

/* line 50, ../../sass/main.scss */
a:focus {
  outline: thin dotted;
}

/* line 55, ../../sass/main.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 60, ../../sass/main.scss */
p,
pre {
  margin: 0 0 28px 0;
}

/* =============================================================================
   Scaffolding
   ========================================================================== */
/* line 69, ../../sass/main.scss */
.wrapper {
  margin: 144px 72px;
  width: 768px;
  overflow: auto;
}

/* line 77, ../../sass/main.scss */
.content {
  width: 640px;
}

/* line 81, ../../sass/main.scss */
.global-header {
  width: auto;
  overflow: hidden;
}

/* line 86, ../../sass/main.scss */
.brand-logo-container {
  width: 40px;
  height: 40px;
  background-color: #e24718;
  position: relative;
  margin-left: 80px;
  margin-right: 180px;
  margin-bottom: 120px;
  float: left;
}
/* line 95, ../../sass/main.scss */
.brand-logo-container h1 {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 108, ../../sass/main.scss */
.global-nav {
  margin-right: 72px;
  display: block;
  float: right;
  width: auto;
}
/* line 114, ../../sass/main.scss */
.global-nav li {
  float: left;
  display: block;
}
/* line 120, ../../sass/main.scss */
.global-nav a {
  text-decoration: none;
  display: block;
  color: #eee;
  padding: 3px 12px 0 12px;
  position: relative;
  width: 72px;
  text-align: center;
  height: 25px;
}
/* line 129, ../../sass/main.scss */
.global-nav a:hover {
  background-color: #eee;
  color: #333;
}
/* line 132, ../../sass/main.scss */
.global-nav a:hover:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 23px;
  left: 44px;
  background-color: #eee;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 147, ../../sass/main.scss */
.article-date {
  font-size: 16px;
  color: #666;
}

/* line 153, ../../sass/main.scss */
.mast {
  background-color: #333;
  font-size: 14px;
  color: #EEE;
  height: 28px;
  width: 100%;
}

/* line 167, ../../sass/main.scss */
.global-footer {
  background-color: #333;
  width: 100%;
  position: absolute;
}
/* line 173, ../../sass/main.scss */
.global-footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -14px;
  left: 254px;
}
/* line 185, ../../sass/main.scss */
.global-footer .global-footer-inner {
  margin: 72px 72px;
  width: 768px;
  color: #eee;
}
/* line 189, ../../sass/main.scss */
.global-footer .global-footer-inner .small-print {
  width: 528px;
}
/* line 192, ../../sass/main.scss */
.global-footer .global-footer-inner .social-links {
  width: 240px;
}
/* line 195, ../../sass/main.scss */
.global-footer .global-footer-inner small {
  font-size: 12px;
}

/* line 201, ../../sass/main.scss */
.left {
  float: left;
}

/* line 205, ../../sass/main.scss */
.right {
  float: right;
}

/* line 209, ../../sass/main.scss */
.logo-outer {
  width: 26px;
  height: 26px;
  background-color: #e24718;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
  left: 254px;
}

/* line 224, ../../sass/main.scss */
.logo-inner {
  display: none;
  text-indent: -9999px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
}

/* line 235, ../../sass/main.scss */
.main-content {
  width: 528px;
  position: relative;
  margin-right: 48px;
  float: right;
}

/* line 242, ../../sass/main.scss */
.meta {
  float: left;
  width: 192px;
}

/* line 247, ../../sass/main.scss */
.article-header {
  margin-left: 192px;
}
/* line 252, ../../sass/main.scss */
.article-header h1 {
  letter-spacing: -1.5px;
}

/* line 257, ../../sass/main.scss */
.lead-in {
  color: #666;
  font-size: 22px;
  line-height: 36px;
}

/* line 264, ../../sass/main.scss */
.read-more {
  text-decoration: none;
}

/* line 268, ../../sass/main.scss */
.index-post {
  margin-bottom: 48px;
  padding-bottom: 48px;
  overflow: auto;
}
/* line 274, ../../sass/main.scss */
.index-post .article-header {
  margin-left: 0;
}
/* line 277, ../../sass/main.scss */
.index-post .article-header h1 {
  margin-bottom: 24px;
}
/* line 282, ../../sass/main.scss */
.index-post .article-header h1 a {
  text-decoration: none;
  color: #333;
}
/* line 288, ../../sass/main.scss */
.index-post .main-content {
  float: left;
}
/* line 296, ../../sass/main.scss */
.index-post .article-date {
  font-size: 14px;
}

/* line 301, ../../sass/main.scss */
.recent-posts {
  width: 528px;
}
/* line 303, ../../sass/main.scss */
.recent-posts li {
  display: block;
  border-bottom: 1px solid #eee;
}
/* line 308, ../../sass/main.scss */
.recent-posts .post-link {
  padding: 6px 0px;
  display: block;
  text-decoration: none;
}
/* line 314, ../../sass/main.scss */
.recent-posts .post-date {
  color: #666;
  display: inline-block;
  width: 60px;
}
