/* =============================================================================
   Typography
   ========================================================================== */
/* line 8, ../../sass/main.scss */
body {
  line-height: 28px;
  font-size: 16px;
  color: #333333;
}

/* line 18, ../../sass/main.scss */
html,
button,
input,
select,
textarea {
  font-family: "adelle", serif;
  font-weight: 400;
}

/* line 23, ../../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 28, ../../sass/main.scss */
h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 48px;
  font-weight: 400;
}

/* line 35, ../../sass/main.scss */
h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 12px;
}

/* line 41, ../../sass/main.scss */
h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 46, ../../sass/main.scss */
a {
  color: #00ada7;
}

/* line 50, ../../sass/main.scss */
a:focus {
  outline: thin dotted;
}

/* line 55, ../../sass/main.scss */
a:hover,
a:active {
  outline: 0;
  background-color: #e24718;
  color: #fff;
}

/* line 62, ../../sass/main.scss */
p,
pre {
  margin: 0 0 28px 0;
}

/* =============================================================================
   Scaffolding
   ========================================================================== */
/* line 71, ../../sass/main.scss */
.wrapper {
  margin: 144px 72px;
  width: 768px;
  overflow: auto;
}

/* line 79, ../../sass/main.scss */
.content {
  width: 640px;
}

/* line 83, ../../sass/main.scss */
.global-header {
  width: auto;
  overflow: hidden;
}

/* line 88, ../../sass/main.scss */
.brand-logo-container {
  width: 40px;
  height: 40px;
  background-color: #e24718;
  position: relative;
  margin-left: 80px;
  margin-right: 180px;
  margin-bottom: 120px;
  float: left;
}
/* line 97, ../../sass/main.scss */
.brand-logo-container h1 {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 110, ../../sass/main.scss */
.global-nav {
  margin-right: 72px;
  display: block;
  float: right;
  width: auto;
}
/* line 116, ../../sass/main.scss */
.global-nav li {
  float: left;
  display: block;
}
/* line 122, ../../sass/main.scss */
.global-nav a {
  text-decoration: none;
  display: block;
  color: #eee;
  padding: 3px 12px 0 12px;
  position: relative;
  width: 72px;
  text-align: center;
  height: 25px;
}
/* line 131, ../../sass/main.scss */
.global-nav a:hover {
  background-color: #00ada7;
  color: #fff;
}
/* line 134, ../../sass/main.scss */
.global-nav a:hover:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 23px;
  left: 44px;
  background-color: inherit;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 149, ../../sass/main.scss */
.article-date {
  font-size: 16px;
  color: #666;
}

/* line 155, ../../sass/main.scss */
.mast {
  background-color: #333;
  font-size: 14px;
  color: #EEE;
  height: 28px;
  width: 100%;
}

/* line 169, ../../sass/main.scss */
.global-footer {
  background-color: #333;
  width: 100%;
  position: absolute;
}
/* line 175, ../../sass/main.scss */
.global-footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -14px;
  left: 254px;
}
/* line 187, ../../sass/main.scss */
.global-footer .global-footer-inner {
  margin: 96px 72px;
  width: 768px;
  color: #eee;
  overflow: auto;
}
/* line 192, ../../sass/main.scss */
.global-footer .global-footer-inner .small-print {
  width: 528px;
}
/* line 195, ../../sass/main.scss */
.global-footer .global-footer-inner .social-links {
  width: 240px;
}
/* line 197, ../../sass/main.scss */
.global-footer .global-footer-inner .social-links a {
  text-decoration: none;
}

/* line 207, ../../sass/main.scss */
.left {
  float: left;
}

/* line 211, ../../sass/main.scss */
.right {
  float: right;
}

/* line 215, ../../sass/main.scss */
.logo-outer {
  width: 26px;
  height: 26px;
  background-color: #e24718;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
  left: 144px;
}

/* line 230, ../../sass/main.scss */
.logo-inner {
  display: none;
  text-indent: -9999px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
}

/* line 241, ../../sass/main.scss */
.main-content {
  width: 528px;
  position: relative;
  margin-right: 48px;
  float: right;
}

/* line 248, ../../sass/main.scss */
.meta {
  float: left;
  width: 192px;
}

/* line 253, ../../sass/main.scss */
.article-header {
  margin-left: 192px;
}
/* line 258, ../../sass/main.scss */
.article-header h1 {
  letter-spacing: -1.5px;
}

/* line 263, ../../sass/main.scss */
.lead-in {
  color: #666;
  font-size: 22px;
  line-height: 36px;
}

/* line 270, ../../sass/main.scss */
.read-more {
  text-decoration: none;
}

/* line 274, ../../sass/main.scss */
.index-post {
  margin-bottom: 48px;
  padding-bottom: 48px;
  overflow: auto;
}
/* line 280, ../../sass/main.scss */
.index-post .article-header {
  margin-left: 0;
}
/* line 283, ../../sass/main.scss */
.index-post .article-header h1 {
  margin-bottom: 24px;
  display: inline-block;
}
/* line 290, ../../sass/main.scss */
.index-post .article-header h1 a {
  text-decoration: none;
  color: #333;
}
/* line 295, ../../sass/main.scss */
.index-post .article-header h1 a:hover {
  color: #fff;
}
/* line 305, ../../sass/main.scss */
.index-post .main-content {
  float: left;
}
/* line 313, ../../sass/main.scss */
.index-post .article-date {
  font-size: 14px;
}

/* line 318, ../../sass/main.scss */
.recent-posts {
  width: 528px;
}
/* line 320, ../../sass/main.scss */
.recent-posts li {
  display: block;
  border-bottom: 1px solid #eee;
}
/* line 325, ../../sass/main.scss */
.recent-posts .post-link {
  padding: 6px 0px;
  display: block;
  text-decoration: none;
}
/* line 331, ../../sass/main.scss */
.recent-posts .post-date {
  color: #666;
  display: inline-block;
  width: 60px;
}
