/* =============================================================================
   Typography
   ========================================================================== */
/* line 8, ../../sass/main.scss */
body {
  line-height: 28px;
  font-size: 16px;
  color: #333333;
}

/* line 18, ../../sass/main.scss */
html,
button,
input,
select,
textarea {
  font-family: "adelle", serif;
  font-weight: 400;
}

/* line 23, ../../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 28, ../../sass/main.scss */
h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 32px;
}

/* line 34, ../../sass/main.scss */
h2 {
  font-size: 32px;
  line-height: 48px;
}

/* line 39, ../../sass/main.scss */
h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 44, ../../sass/main.scss */
a {
  color: #e24718;
}

/* line 48, ../../sass/main.scss */
a:focus {
  outline: thin dotted;
}

/* line 53, ../../sass/main.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 58, ../../sass/main.scss */
p,
pre {
  margin: 0 0 28px 0;
}

/* =============================================================================
   Scaffolding
   ========================================================================== */
/* line 67, ../../sass/main.scss */
.wrapper {
  margin: 168px 72px;
  width: 720px;
  overflow: auto;
}

/* line 75, ../../sass/main.scss */
.content {
  width: 640px;
}

/* line 79, ../../sass/main.scss */
.global-header {
  width: auto;
  overflow: hidden;
}

/* line 84, ../../sass/main.scss */
.brand-logo-container {
  width: 40px;
  height: 40px;
  background-color: #e24718;
  position: relative;
  margin-left: 80px;
  margin-right: 180px;
  margin-bottom: 120px;
  float: left;
}
/* line 93, ../../sass/main.scss */
.brand-logo-container h1 {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 106, ../../sass/main.scss */
.global-nav {
  margin-left: 192px;
  display: block;
  float: right;
  width: 400px;
}
/* line 111, ../../sass/main.scss */
.global-nav li {
  float: left;
  display: block;
}
/* line 117, ../../sass/main.scss */
.global-nav a {
  text-decoration: none;
  display: block;
  color: #eee;
  padding: 3px 10px 0 10px;
}
/* line 122, ../../sass/main.scss */
.global-nav a:hover {
  background-color: #fff;
  color: #e24718;
}
/* line 127, ../../sass/main.scss */
.global-nav a h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #EEE;
}

/* line 137, ../../sass/main.scss */
.article-date {
  font-size: 16px;
  color: #666;
}

/* line 143, ../../sass/main.scss */
.mast {
  background-color: #333;
  font-size: 14px;
  color: #EEE;
  padding-left: 72px;
  height: 28px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

/* line 157, ../../sass/main.scss */
.logo-outer {
  width: 26px;
  height: 26px;
  background-color: #e24718;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
  left: 60px;
}

/* line 172, ../../sass/main.scss */
.logo-inner {
  display: none;
  text-indent: -9999px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
}

/* line 183, ../../sass/main.scss */
.main-content {
  width: 528px;
  position: relative;
  float: right;
}

/* line 190, ../../sass/main.scss */
.meta {
  float: left;
  width: 192px;
}

/* line 195, ../../sass/main.scss */
.article-header {
  margin-bottom: 72px;
}

/* line 199, ../../sass/main.scss */
.lead-in {
  color: #666;
  font-size: 22px;
  line-height: 36px;
}
