<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <script type="text/javascript" src="http://use.typekit.com/nlh3zli.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header class="mast">
      <a class="logo-outer" href="/">
        <div class="logo-inner"></div>
      </a>
      <nav class="global-nav">
        <ul>
          <li><a href="/archives">Archives</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <section>
        <%= yield %> 
      </section>
      <footer>
        
      </footer>
    </div>
  </body>
</html>

