<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <script type="text/javascript" src="http://use.typekit.com/nlh3zli.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <div id="container">
      <div class="background-pattern"></div>
      <div id="main">
        <header class="mast">
          <a class="logo-outer" href="/">
            <div class="logo-inner">W</div>
          </a>
          <nav class="global-nav">
            <ul>
              <li><a href="/archives">Archives</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </header>
        <div class="wrapper">
          <section>
            <%= yield %> 
          </section>
        </div>
      </div>
    </div>
    <footer class="global-footer">
      <div class="global-footer-inner">
        <div class="left small-print">
          <small>By Will McNeilly © 2012</small>
        </div>
        <div class="left social-links">
          <p><a href="http://twitter.com/willmcneilly">@willmcneilly</a> on Twitter</p>
        </div>
      </div>
    </footer>
  </body>
</html>

